<footer class="footer-section" id="footer">
  <div class="container">
    <div class="footer-text">
      <div class="row">
        <div class="col-lg-4">
          <div class="ft-about">
            <div class="logo">
              <a href="#">
                <img src="/static/Image-placeholder/i22.png" id="ftabt-img" alt="" />
              </a>
            </div>
            <p id="ft-caption">We inspire and reach millions of travelers <br/>across 90 local websites</p>
            <div class="fa-social">
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-tripadvisor" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-contact">
            <h6>Contact Us</h6>
            <ul>
              <li><i class="fas fa-phone" aria-hidden="true"></i><a href="tel:+18002684686">+18002684686</a></li>
              <li><i class="fas fa-envelope" aria-hidden="true"></i><a href="mailto:liviujmk@gmail.com"> liviujmkb@gmail.com</a></li>
              <li>
                <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
                <a href="https://www.google.com/maps/place/Palace+of+Parliament/@44.4277218,26.0856018,798m/data=!3m1!1e3!4m5!3m4!1s0x40b1ff427bee28c1:0x2b1089f802abaddc!8m2!3d44.4275035!4d26.0873506">
                  856 Cordia Extension Apt. 356, Lake, United State
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-contact">
            <h6>Quick Links</h6>
            <ul>
              <li><a href="rooms.html">Rooms</a></li>
              <li><a href="about.html">About Us</a></li>
              <li><a href="about.html">Gallery</a></li>
              <li><a href="blogs.html">Our Blog</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <ul>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./tos.html">Terms of Service</a></li>
            <li><a href="#exampleModal" data-toggle="modal" data-target="#exampleModal">Book Now</a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="co-text">
            <p>
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              , your-company-name Powered by Omega
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="/static/js/1.js"></script>

<script src="/static/js/2.js"></script>
<script src="/static/js/3.js"></script>
<script>
  eval(mod_pagespeed_QTIlIxDN4o);
</script>
<script>
  eval(mod_pagespeed_iXnXDEAqan);
</script>

<script>
  eval(mod_pagespeed_7whRwN8Ih2);
</script>

<script src="/static/js/4.js"></script>
<script>
  eval(mod_pagespeed_gBemRL49og);
</script>
<script>
  eval(mod_pagespeed__O5h6OyshL);
</script>

<script src="/static/js/5.js"></script>

<script src="/static/js/6.js"></script>
<script>
  eval(mod_pagespeed_UFTUmCGtOu);
</script>
<script>
  eval(mod_pagespeed_h_pdKrTTeE);
</script>
<script>
  eval(mod_pagespeed_EbTBe64h6p);
</script>

<script>
  eval(mod_pagespeed_EPDeJPXkun);
</script>
<script>
  eval(mod_pagespeed_$kRwUEK21w);
</script>
<script>
  eval(mod_pagespeed_r8nepCXJzp);
</script>

<script>
  eval(mod_pagespeed_P6GKuKYIVL);
</script>
<script src="/static/js/7.js"></script>
<script>
  eval(mod_pagespeed_KtSaCxrCeD);
</script>
<script>
  eval(mod_pagespeed_OsZzQ5zT4d);
</script>
<script>
  eval(mod_pagespeed_D6RUyvSgzS);
</script>
<script>
  eval(mod_pagespeed_lSFivGvfne);
</script>

<script>
  eval(mod_pagespeed_KftslKSQKa);
</script>
<script>
  eval(mod_pagespeed_CG2AfZKSnf);